meta(charset="UTF-8")
meta(name="author" content="Kate Kinsman")
meta(name="designer" content="Kate Kinsman")
meta(name="publisher" content="Kate Kinsman")
<!--Search Engine Optimization Meta Tags-->
meta(name="description" content="Farm-based youth camps.")
meta(name="keywords" content="Summer Camp,Camp,Kids Camp,Youth Camp,Kids,Youth,Farm,Farm Camp,Horses,Horse Camp")
meta(name="robots" content="index,follow")
meta(name="revisit-after" content="7 days")
meta(name="distribution" content="web")
//meta(http-equiv="refresh" content="30")
meta(name="robots" content="noodp")
<!--Optional Meta Tags-->
meta(name="distribution" content="web")
meta(name="rating" content="general")
meta(name="rating" content="safe for kids")
meta(name="subject" content="Business")
meta(name="title" content="Wildwood Ranch")
meta(name="copyright" content="Copyright 2019")
meta(name="reply-to" content="info@wildwoodranch.co")
meta(name="abstract" content="Farm-based youth camps.")
meta(name="city" content="Fall City")
meta(name="state" content="Washington")
meta(name="country" content="USA")
meta(name="classification" content="Farm-based youth camps.")
<!--Meta Tags for HTML pages on Mobile-->
meta(name="format-detection" content="telephone=yes")
meta(name="HandheldFriendly" content="true")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-47480557-2")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-47480557-2');

<!-- Bootstrap CDN -->
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

<!-- Mailchimp Subscribe Pop-up -->
script#mcjs.
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d897d038d579ea1c9aa6392a3/8aa6b9f25972c2bb90f83c704.js");