/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Gaegu', cursive;*/
/*font-family: 'Meddon', cursive;*/

/* GENERAL */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 0;
    box-sizing: border-box;
    color: dimgray;
}

a, a:visited {
    text-decoration: none;
    color: darkkhaki;
}

a:hover, a:active {
    text-decoration: none;
    color: dimgray;
}

i {
    color: dimgray;
}

button {
    border-radius: 0;
    background-color: darkkhaki;
    color: white;
    padding: 10px;
    border: none;
    font-size: 14px;
    min-width: 100px;
}

address {
    font-style: normal;
}

/* HEADER */
header {
    width: 100%;
    height: 120px;
    padding: 0 0 0 0;
    overflow: auto;
    background-color: white;
}

header h1 {
    margin: 0 0 0 0;
    padding: 20px 0 0 30px;
    font-family: 'Meddon', cursive;
    color: darkkhaki;
}

header h3, header h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 60px;
    font-family: 'Gaegu', cursive;
}

#title {
    float: left;
}

#nav, #nav a {
    float: right;
}

#nav {
    padding-top: 43px;
    font-family: 'Gaegu', cursive;
}

#nav a, #nav a:visited {
    color: dimgray;
}

#nav a:hover, #nav a:active {
    color: darkkhaki;
}

header .social {
    float: right;
    margin: 40px 40px 40px 80px;
}

.social i {
    margin: 0 10px;
}

/* MAIN */
main {
    text-align: center;
    background-image: url("../assets/wildflower-field-min.jpg");
    background-size: cover;
    min-height: 500px;
    padding: 70px;
}

main h1{
    margin: 0 0 0 0;
    color : darkkhaki;
    font-family: 'Meddon', cursive;
}

.paragraph {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.paragraph p, h1, h2, h3 {
    opacity: 1;
}

/* FOOTER */
footer {
    width: 100%;
    min-height: 150px;
    padding: 0 0 0 0;
    background: white;
}

footer li {
    list-style: none;
}

#footerLeft h3, #footerMid h3, #footerRight h3 {
    color : darkkhaki;
    font-family: 'Meddon', cursive;
}

#footerLeft, #footerMid, #footerRight {
    float: left;
    width: 30vw;
    padding: 20px;
    text-align: center;
}

#footerMid {
    display: none;
}

footer .social {
    margin: 10px;
}

/* ABOUT PAGE */

#about .paragraph {
    text-align: left;
    margin-bottom: 20px;
    overflow: auto;
}

#about .bioImages img{
    float: left;
    max-width: 300px;
    max-height: 300px;
    clear: left;
    margin: 10px;
}

#bio {
    min-height: 1250px;
}

/* CONTACT PAGE */

#contact {
    min-height: 700px;
}

/* FAQ PAGE */

#faq {
    min-height: 1800px;
}

#faq .question{
    text-align: left;
}

/* REGISTER PAGE */

.registerStep {
     margin-bottom: 20px;
     text-align: left;
 }

.registerStep p {
    margin-left: 25px;
}

.registerStep button {
    margin-left: 25px;
}

#register ul {
    margin: auto;
    padding-left: 0;
}

#register li {
    list-style: none;
    margin-bottom: 20px;
}

#numParticipants {
    height: 35px;
}

#participantLabel {
    padding-left: 5px;
}

@media (max-width: 1090px) {
    header .social {
        display: none;
    }
    #nav {
        padding-right: 20px;
    }
}

@media (max-width: 800px) {
    /*header {*/
        /*overflow: visible;*/
        /*height: 250px;*/
    /*}*/
    /*header .social {*/
        /*display: none;*/
    /*}*/
    /*#nav {*/
        /*padding-right: 20px;*/
        /*padding-top: 10px;*/
    /*}*/
    /*#nav, #nav a {*/
        /*float: none;*/
    /*}*/
    #nav h2 {
        padding-left: 10px;
    }
}

@media (max-width: 600px) {
    header {
        overflow: visible;
        height: 250px;
    }
    header .social {
        display: none;
    }
    #nav {
        padding-right: 20px;
        padding-top: 20px;
    }
    #nav, #nav a {
        float: none;
        clear: left;
        text-align: center;
    }
    #nav h2 {
         /*padding-left: 30px;*/
    }
    #footerLeft, #footerMid, #footerRight {
        float: none;
        width: 300px;
        text-align: center;
    }
    #intro, #bio, #contact, #faq {
        padding: 10px;
    }
}