doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch: Camp Counselor

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: Camp Counselor")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include includes/navBar
        main#jobdescription.container
            section
                div.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h1 Camp Counselor
                        p Classification: Nonexempt (Seasonal)
                        p Reports To: Program Coordinator and Director
                        h2 Position Purpose
                        p.
                            Counselors are the primary caregivers for each camper.  The Counselor is responsible for planning, teaching, coordinating, and carrying out activities and guiding campers in their personal growth and daily living skills.  
                        h2 Essential Job Functions
                        ol
                            li Assist in the direction, supervision, and organization of campers in their camper group within activities and throughout the camp in order to meet the intended camper outcomes.
                                ul
                                    li Apply basic youth development principles in working with campers through communication, relationship development, respect for diversity, involvement and empowerment of youth.
                                    li Assures campers are properly supervised at all times.
                                    li Be aware of and implement safety guidelines. 
                            li Participate in the development and implementation of program activities for campers within the mission and outcomes.
                                ul
                                    li Responsible for leading or assisting with the teaching of activities.
                                    li Actively participate in all program areas as assigned.
                                    li Provide for a progression of activities within the framework of individual and group interests and abilities.
                                    li Assist in program areas such as garden, forest/nature, all camp activities, small animals, horses, games, cooking, and arts and crafts as directed.
                            li Maintain high standards of health and safety in all activities for campers and staff.
                                ul
                                    li Provide the daily care of each camper within your supervision including recognition of personal health needs.
                                    li Be alert to campers and staff needs and assist them with personal and/or health problems; discuss with program coordinator and/or camp director when appropriate.
                                    li Be alert to equipment and facilities to ensure utilization, proper care, cleaning and maintenance is adhered to; report repairs needed promptly to camp director.
                            li Be a role model to campers and staff in your attitude and behavior.
                                ul
                                    li Follow and uphold all safety and security rules and procedures.
                                    li Set a good example to campers and others in regard to general camp procedures and practices including sanitation, schedule, and sportsmanship.
                            li Represent the camp when interacting with parents or community members.
                                ul
                                    li Provide parents appropriate feedback and information as needed for their campers to have a successful camp experience.
                                    li Follow safety and security protocols when campers are in public while presenting a positive image of the camp. 
                        h2 Other Job Duties
                        ul
                            li Participate enthusiastically in all camp activities, planning and leading those as assigned.
                            li Participate as a member of the camp staff team to deliver and supervise cookouts, special events, and other all-camp activities and camp functions.
                            li Assist in the planning of any special events. 
                            li Contribute to verbal and written evaluations and communication as requested.
                            li Contribute to the cleanliness and maintenance of camp by assisting in daily cleaning and routine chores, always assessing needs and fulfilling them when possible or filing for repairs when necessary.
                            li Follow COVID-19 protocols to ensure the safety of all campers, families, and staff.
                        h2 Relationships
                        p.
                            Follow the leadership of the program coordinator, lead horse wrangler, and camp director; report any needs to them and ask any clarifying questions about your duties. Work collaboratively with and help as requested, the program specialists such as horse wranglers and activity leaders. Some staff may work as counselors one week and as wranglers or activity leaders other weeks. We endeavor to have a friendly workplace where all staff members take pride and responsibility in their work and strive to keep open lines of communication and respect between all. 
                        h2 Equipment Used
                        p.
                            Fire extinguishers, sports equipment, cleaning solutions, specialty program equipment. 
                        h2 Qualifications
                        ul
                            li Must be at least 16 years of age.
                            li Must be able to obtain or become certified in First Aid/CPR.
                            li Must submit health history record and examination form prior to first day of work.
                            li Ability to interact with all age levels.
                        h2 Knowledge, Skills, and Abilities
                        ul
                            li Understanding of the development needs of youth.
                            li Ability to relate to youth and adults in a positive manner.
                            li Demonstrated knowledge and skill in camp program areas.
                            li Desire and ability to work with children outdoors in varied conditions.
                            li Ability to see needs and a willingness to step up and get the job done.
                        h2 Physical Aspects of the Job
                        ul
                            li Ability to communicate and work with groups participating (ages 4-15 and all skill levels) and provide necessary instruction to campers and staff.
                            li Ability to observe camper behavior, assess its appropriateness, enforce appropriate safety regulations and emergency procedures, and apply appropriate behavior-management techniques.
                            li Ability to observe staff behavior, assess its appropriateness, enforce appropriate safety regulations and emergency procedures, and apply appropriate management techniques.
                            li Visual and auditory ability to identify and respond to environmental and other hazards related to the activity.
                            li Physical ability to respond appropriately to situations requiring first aid. Must be able to assist campers in an emergency (fire, evacuation, illness, or injury) and possess strength and endurance required to maintain constant supervision of campers.
                            li Operate with daily exposure to the sun and heat.
                            li Endurance in activities such as standing and walking for extended periods of time, some bending, stooping, and stretching. 
        include includes/footer