doctype html
html(lang="en")
    head
        include genericMeta
        title Wildwood Ranch: COVID-19

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: COVID-19")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include navBar
        main#covid.container
            section
                div.row
                    h1.col-12 COVID<span class="punctuation">-19</span> UPDATE
                    div.col-10.offset-1.col-md-8.offset-md-2
                        p.
                            Alongside all of you, we have been following the COVID<span class="punctuation">-19</span> situation quite closely. We understand the dilemma that the school closures and the "stay at home" order poses to working parents and have been pondering how best to help our community with child care in the current situation. Due to the continuation of social-distancing and self-quarantining, we have canceled all weeks of spring break camp. Our hope is that by following recommendations during this critical time, we will be better positioned to help with child care in May/June.
                        p.
                            At this time we plan to run camp every week from June 22nd - August 28th. We have revamped our cleaning and sanitizing procedures to prevent transmission of the virus and feel confident that we can safely open once the social-distancing recommendations are relaxed.
                        p.
                            While we are implementing an intensive cleaning policy and capping enrollment at 30 campers per week, we understand that there is an inherent risk to being in a social environment at this time. Please do not send your child to camp if they have been exhibiting symptoms of any illness within 14 days of the start of camp. We will be performing fever checks each morning as campers arrive. Any camper with a temperature over 100F will be asked to return home. If anyone in your household becomes sick within 14 days of your child attending camp, please inform us so that we can advise the families of campers who were present at the same time and to shut down camp.
                        p.
                            We will continue to monitor the COVID<span class="punctuation">-19</span> situation and adapt as necessary. While we hope to add weeks prior to the summer season, there may be a time at which we decide it is necessary to cancel specific weeks or close our doors for the remainder of the season. We will be offering full refunds in the case that we cancel or you cancel for any reason at any time.
                        p.
                            We understand that finances at this time can be uncertain or strained. If your family has been financially affected by COVID<span class="punctuation">-19</span>, please let us know and we can work out a plan for payment together.
                        p.
                            Stay safe.
        include footer