doctype html
html(lang="en")
    head
        include genericMeta
        title Wildwood Ranch: COVID-19

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: COVID-19")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include navBar
        main#covid.container
            section
                div.row
                    h1.col-12 COVID<span class="punctuation">-19</span> UPDATE
                    div.col-10.offset-1.col-md-8.offset-md-2
                        p.
                            Alongside all of you, we have been following the COVID<span class="punctuation">-19</span> situation quite closely. We understand the dilemma that the school closures and the "stay at home" order poses to
                            working parents and have been pondering how best to help our community with child care in the current situation.
                        h2 Camp Started June <span class="punctuation">22</span>nd<span class="punctuation">!</span>
                        p.
                            Washington State is allowing youth camps to open in all stages of the Safe Start program with limited capacities and extra precautions.
                        p
                            button#kcCampGuide(type="button", onclick="window.location.href='https://kingcounty.gov/depts/health/covid-19/schools-childcare.aspx'") King County Camp Guidelines
                        h2 Refund Policy
                        p.
                            We have revised our refund policy for the year to allow for refunds to be given at any time, for any reason. We understand that finances at this time can be uncertain or strained. If your family has been
                            financially affected by COVID<span class="punctuation">-19</span>, please let us know and we can work out a plan for payment together.
                        h2 How We Are Keeping Campers Safe
                        p.
                            We understand that children have been home since the end of March and many families have had no childcare during this time. Kids need social interaction and time outdoor and while we are eager to meet
                            this need, we need to do so with safety measures in place.
                        p.
                            This summer we are limiting enrollment to 30 kids per week. We are further splitting each week into 3 groups of 10, moving each group through activities as independently as possible. We will be
                            eliminating “all camp” free time such as campfire time and large group games and moving them into our rotation of activities for groups to experience on their own to aid in social distancing.
                        p.
                            We will be performing fever checks each morning, any child with a temperature above 100°F will be asked to return home and will be refunded their camp tuition.
                        p.
                            As for sanitation policies, we are following the American Camp Association’s guide as closely as possible. We have two hand washing stations and will require everyone to wash hands upon arrival,
                            between activities, and before/after lunch and snacks (in addition to the usual washing after bathroom use and touching animals). Gates and doors will be sanitized every morning and evening, and
                            will be left open where possible so that campers are not touching them unless absolutely necessary.
                        p.
                            Craft supplies will be separated in advance and given to individual campers instead of having them communally available. Items that are shared (such as metal stamps for leather working) will be
                            sanitized between groups.
                        p
                            button#ACA(type="button", onclick="window.location.href='https://www.acacamps.org/resource-library/coronavirus/camp-business/camp-operations-guide-summer-2020'") ACA Camp Operations Guide 2020
                        h2 Mask Policy
                        p.
                            Many of you are aware that Washington State put out a new mandate on masks in public spaces. The mandate states that individuals must wear a mask when in an establishment of business, whether it is located indoors or outdoors (think outdoor beer garden or farmers market). Masks are not required outside when a 6 ft distance from others is maintained. We fall in a grey zone: we service children, who are supposed to wear masks but are generally regarded as not being able to tolerate them, and are an outdoors facility. Since most campers are above the minimum recommended mask-wearing age of 5 and will not be able to consistently keep a 6 ft distance from all other campers, we will be wearing masks at Wildwood Ranch.
                        p
                            button#maskGuide(type="button", onclick="window.location.href='https://www.kingcounty.gov/depts/health/covid-19/care/masks.aspx'") King County Mask Mandate
                        p.
                            We understand that this is not how you imagined your summer would be. Most camps and activities are cancelled and school is uncertain. With cases still rising in many states (including ours), wearing masks will enable us to still move forward from the Stay at Home orders. Let’s all do our part and wear masks to keep the spread of COVID-19 down.
                        p.
                            All campers and staff wore masks in our last few sessions and we rarely had to remind campers to put them on. We are working hard to incorporate times each day when masks can be off and campers can still be having fun. Think noodle tag, parachute games, horseback riding, group games like mafia, and of course lunch and snacks.
                        p.
                            Below you will find links to blog posts that look at the social effects of wearing masks, how to make your own masks/face coverings, and how to talk to your child about them and normalize the behavior among other things.
                        p
                            button(type="button", onclick="window.location.href='https://medium.com/wadepthealth/helping-kids-to-wear-cloth-face-coverings-848a025f64a6'") Helping Children Wear Masks
                        p
                            button(type="button", onclick="window.location.href='https://publichealthinsider.com/2020/05/18/d-i-y-face-coverings-tips-on-making-cloth-masks-from-the-public-health-crafters-corner/'") DIY Face Coverings
                        p
                            button(type="button", onclick="window.location.href='https://publichealthinsider.com/2020/06/25/face-coverings-and-children/'") Face Coverings and Children
                        h2 Thank You
                        p.
                            We will continue to monitor the COVID<span class="punctuation">-19</span> situation and adapt as necessary. There may be a time at which we decide it is necessary to cancel more weeks or close our
                            doors for the remainder of the season.
                        p This is a very uncertain and unsettled time for us all. We thank you for supporting us.
                        p We wish you safety and happiness amidst the chaos.

    include footer
            //bump