doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch: COVID-19

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: COVID-19")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include includes/navBar
        main#covid.container
            section
                div.row
                    h1.col-12 COVID<span class="punctuation">-19</span> POLICIES
                    div.col-10.offset-1.col-md-8.offset-md-2
                        p.
                            While life is nowhere near the old “normal” and we are unsure of how life will look in the future, 
                            we are committed to running camps in 2022 to continue providing social interactions for campers in a safe environment. 
                            As we approach the Spring and Summer camp season, we endeavor to be transparent with camp families about our approach to the 
                            COVID-19 pandemic and what steps we are taking to protect our campers, staff, and the community at large.
                        h2  UPDATES
                        p.
                            Mask Policy: King County recommendations changed on March 12, 2022. Parents are no longer required to wear
                            masks at drop off and pick up. There are two locations where we anticipate requiring campers to wear masks.
                            These are at the craft table and in the kitchen for snack preparation and when being served lunch on Fridays.
                            Masks will be optional while riding horses, playing games outside, and when distanced from others. 
                            Please send a mask with your camper each day.
                            
                        p.
                            Vaccination Policy: It is not required for campers to be vaccinated, but it is highly recommended.
                            Vaccination against COVID-19 is required as a condition for employment at Wildwood Ranch.
                     
                            
                        h2  OUR APPROACH
                        p.
                            COVID-19 is a very real and potentially harmful virus that spreads easily from person to person and is particularly harmful
                            to people who are vulnerable due to their age or underlying medical conditions. It is the responsibility of the community at
                            large to minimize the spread of the virus to protect the most vulnerable and to reduce stress on our health care systems. We 
                            are making our decisions about how to operate camp with that in mind. 
                        p.
                            Kids need social interaction and time outdoors, and while we are eager to meet this need, we need to do so with ample
                            safety measures in place.
                        p.
                            We are fortunate to be an outdoors facility with open-air shelters that allow us to easily comply with all recommended protocols
                            for group gatherings. At this time, individuals are not required to wear masks at all times on our property.
                            We will do our best to enforce the 6ft social distance rule, but we know that with children this can be especially hard.
                       
                        p.  We expect families to monitor their campers for symptoms of and exposure to COVID-19 for 14 days prior to camp and throughout their
                            time at Wildwood Ranch. If your child gets sick, has a fever of 100.4 or higher, or exhibits any other symptoms consistent with 
                            COVID-19, please notify us immediately. Campers will not be able to return to camp for at least 10 days after symptoms start AND 
                            three days after symptoms, including fever, have improved, or there is an alternate diagnosis from a physician. 
                        p.
                            If your child has had close contact with someone who has COVID-19 or has been advised to quarantine, please do not send your child
                            to camp until they have completed the quarantine required by King County.
                        p.
                            We will be performing health screenings and fever checks upon arrival, any child with a temperature above 100.4°F will be asked to 
                            return home and will be refunded their camp tuition for any days missed. Any siblings of a camper who has a fever or other symtoms
                            will also need to return home.
                        p.
                            As for sanitation policies, we are following the American Camp Association’s guide as closely as possible. We have two hand washing
                            stations and will require everyone to wash hands upon arrival, between activities, and before/after lunch and snacks (in addition to
                            the usual washing after bathroom use and touching animals). Gates and doors will be sanitized every morning and evening and will be 
                            left open where possible so that campers are not touching them unless necessary. All washable surfaces and supplies will be sanitized
                            daily in accordance with the Wa DOH guidelines. 
                        p.
                            Even with these protocols and safety measures in place, it is possible that we will see cases of COVID-19 at camp this year. We cannot
                            guarantee that your camper will not encounter someone who is contagious, but with our non-pharmacological interventions in place we 
                            are confident that we can stop a major spreading event from occurring at Wildwood Ranch. If someone at camp becomes ill with COVID-19,
                            we will notify all families that it may impact. We will then follow King County’s protocol for cleaning, sanitizing, and possible 
                            temporary closure of camp.
                        p.
                            Thank you for trusting us with your campers during this time. We are committed to providing a safe facility and engaging program so 
                            that they can explore the natural world around them, make new friends, and improve their self-confidence. 

                        
                        h2 Refund Policy
                        p.
                            We have revised our refund policy for the year to allow for refunds to be given at any time for COVID related circumstances. 
                            If your camper or anyone in your family tests positive for COVID<span class="punctuation">-19</span>,  believes they have 
                            COVID<span class="punctuation">-19</span> symptoms, or has been in close proximity of any confirmed cases without proper PPE, 
                            they must not attend camp and will receive a FULL refund for days missed. We understand that finances at this time can be 
                            uncertain or strained. If your family has been financially affected by COVID<span class="punctuation">-19</span>, please let 
                            us know and we can work out a plan for payment together.

                        p
                            button#kcCampGuide(type="button", onclick="window.open('https://kingcounty.gov/depts/health/covid-19/schools-childcare.aspx', '_blank')") King County Camp Guidelines
                        p
                            button#ACA(type="button", onclick="window.open('https://www.acacamps.org/resource-library/coronavirus/camp-business/field-guide-camps','_blank')") ACA Camp Operations Guide 2022
                        h2 Mask Policy
                        p.
                            Since most campers are above the minimum recommended mask-wearing age of 5 and will not be able to consistently keep a 6 ft
                            distance from all other campers, we will be wearing masks at Wildwood Ranch. This is subject to change if the local case loads
                            dissipate and public mask wearing is no longer mandated or recommended.
                        p
                            button#maskGuide(type="button", onclick="window.open('https://www.kingcounty.gov/depts/health/covid-19/care/masks.aspx', '_blank')") King County Mask Mandate
                        p.
                            All campers and staff wore masks in our summer sessions and we rarely had to remind campers to put them on. We are working hard to incorporate times each day when masks can be off and campers can still be having fun. Think noodle tag, parachute games, group games like mafia, and of course lunch and snacks.
                       
                        h2 Thank You
                        p.
                            We will continue to monitor the COVID<span class="punctuation">-19</span> situation and adapt as necessary. There may be a time at which we decide it is necessary to cancel sessions or close our
                            doors for the remainder of the season.
                        p This is a very uncertain and unsettled time for us all. We thank you for supporting us through 2020-21 and continuing to trust us with your campers in 2022.
                        p We wish you safety and happiness amidst the chaos.
                        p
                        p Updated 3/30/22
                        

    include includes/footer
            //bump
