doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch: FAQ

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: FAQ")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include includes/navBar
        main#faq.container
            section#questions.row
                div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                    h1 Frequently Asked Questions
                    //-
                      div.question
                      h3 How does fall after school camp work<span class="punctuation">?</span>
                      p.
                            Our camps will start with a snack then move onto three activities for the afternoon which
                            could include campfire cooking, crafts, nature activities, outdoor group games, or animal
                            time. At this time we do not plan to ride horses during after school camps. Remember that t
                            he days are chillier and will be getting dark earlier, please dress your camper accordingly
                            with sweaters, long pants, coats, and appropriate footwear such as rain boots or sneakers that
                            don't mind getting muddy. Please pack a water bottle and a snack if your camper is a picky eater.
                      div.question
                      h3 What is your minimum attendance policy for fall after school camps<span class="punctuation">?</span>
                      p.
                            We need a minimum of 10 campers to run each day of camp. One week out we will send an email
                             alerting registrants if we have met this requirement. If we have less than 10 campers signed
                             up you are welcome to try and get friends to sign up to meet the requirement. If by 48hrs
                             before camp we do not have 10 campers we will be cancelling the day and issuing a full refund.
                              Thank you for understanding.
                    div.question
                        h3 How does COVID<span class="punctuation">-19</span> affect summer camps<span class="punctuation">?</span> Will you be running camp this summer<span class="punctuation">?</span>
                        p.
                            At this time, we plan to run all sessions of summer camp. Please see our <a href="covid.html">COVID<span class="punctuation">-19</span></a> page for details.
                    div.question
                        h3 What happens if my child or someone in their group gets sick<span class="punctuation">?</span>
                        p.
                            All campers and staff will participate in daily health screenings and temperature checks. 
                            Any person exhibiting symptoms of COVID<span class="punctuation">-19</span> will be asked to return
                            home and only allowed back once a negative COVID<span class="punctuation">-19</span> test is obtained 
                            or an alternate diagnosis given by a physician. If a camper or staff tests positive for COVID<span class="punctuation">-19</span>
                            and they have potentially had contact with your camper, you will be notified and asked to quarantine according 
                            to King County standards. If this interrupts your childs camp you will be refunded for the remaining days. Please 
                            see our <a href="covid.html">COVID<span class="punctuation">-19</span></a> page for more details.
                    div.question
                        h3 How do I register for camp<span class="punctuation">?</span>
                        p.
                            See our upcoming sessions and register or log into your existing account. You will need to create an account by clicking on New User the firt time you register your campers. Visit our <a href="register.html">register</a> page for more details.
                        button#registerNowBtn(type="button" onclick="window.open('http://www.ultracamp.com/info/upcomingsessions.aspx?idCamp=1075&campCode=WWR', '_blank')") Upcoming Sessions
                        button#LoginBtn(type="button" onclick="window.open('http://www.ultracamp.com/clientlogin.aspx?idCamp=1075&campCode=WWR', '_blank')") Log In

                    div.question
                        h3 What if I need to cancel or change my registration<span class="punctuation">?</span>
                        p.
                            Our standard cancellation policy offers a full refund for any reason for up to a week before your registered session. After that date, we offer credit toward a future week of camp. Please email <a href="mailto:info@wildwoodranch.co">us</a> if you need to cancel your registration or switch dates.
                            Please see our <a href="covid.html">COVID<span class="punctuation">-19</span></a> page for our revised policy during the COVID<span class="punctuation">-19</span> pandemic.
                    div.question
                        h3 What should my child bring to camp<span class="punctuation">?</span>
                        p Our farm is an active, outdoor-oriented camp so dressing appropriately is important. Be sure to pack an extra change of clothes and shoes for the week. Depending on the weather outlook for your child's week, don't forget:
                            ul
                                li Extra shoes - rain boots or sandals
                                li Extra pants, shorts or a bathing suit

                        p All children have the opportunity to work with and ride horses. For their safety they must bring:
                            ul
                                li a well fitting helmet (bicycle is okay)
                                li sturdy shoes capable of protecting their feet when working with animals, must be closed-toe
                        p We provide snacks and juice daily, as well as a cookout lunch with lots of choices on Friday.
                            ul
                                li Pack a sack lunch Monday-Thursday.
                                li Daily drop off is 9:00am with pick up at 3:00pm. Check in on Mondays begins at 8:45.
                   div.question
                        h3 What does a typical day of camp look like<span class="punctuation">?</span>
                        p.
                            Each day has 6 stations usually consisting of horseback riding, arts and crafts, cooking and
                            homestead snacks, group games, gardening, and animal time. The activities that occur in each
                            category change every day. For example, arts and crafts may make tie dye t-shirts, leather 
                            bracelets, puppets, picture frames, and friendship bracelets throughout the week. Garden time
                            may have a tasting tour, learning how plants grow, helping to tend the garden and plant new 
                            things, making chia pets, and planting their own sunflower. We have many activities and switch
                            them up throughout the summer so that the flow is familiar but no two day or weeks are ever identical. 
                   div.question
                        h3 What if my child has food allergies or other medical needs<span class="punctuation">?</span>
                        p.
                            We can accommodate a wide variety of food allergies and medical needs. Please contact <a href="mailto:info@wildwoodranch.co">us</a> with any
                            known allergies or medical needs and we can create a plan for your child's week at camp.
                    div.question
                        h3 What time should I pick up and drop off my child<span class="punctuation">?</span>
                        p.
                            Camp starts at 9am and ends at 3pm. Please let <a href="mailto:info@wildwoodranch.co">us</a> know if you need further flexibility.
                    div.question
                        h3 How do I reach the Ranch from the road and where should I park<span class="punctuation">?</span>
                        p.
                            Make sure to turn your blinker on and slow down a ways in advance of the turn off from Fall
                            City Snoqualmie Rd. The speed limit is 50 and there are many semis that drive down the road.
                            The driveway is between the white vinyl fenced fields and the row of mailboxes, just West of
                            the “All Pets go to Heaven” sign. Our driveway is shared with neighbors and is not quite
                            two lanes wide, please go slow and pass others safely and with care. Drive up along the
                            white fencing and turn right into the loop driveway with the enter sign. There are parking
                            spots at the top of the loop and continuing down the other side. Please park, then walk your
                            campers across the driveway and into the fields, there will be a check in table inside the
                            gate. Pick up in the same fashion, park then walk inside the gate to sign out your child for the day!
                    //-
                      div.question
                      h3 Will my children be able to be in the same group<span class="punctuation">?</span>
                      p.
                            Yes. When children are put into groups, they are asked to sit next to friends or family they wish to be
                            grouped with. Feel free to e-mail <a href="mailto:info@wildwoodranch.co">us</a> with special requests.
                    div.question
                        h3 What is the staff to camper ratio<span class="punctuation">?</span>
                        p.
                            Our average staff to camper ratio is 1:5.
                    div.question
                        h3 How do camper groups work<span class="punctuation">?</span>
                        p.
                            Children are broken into groups of 8-12, depending on needs and requests. This is your child's home
                            base and how they are organized for activities. Each group has counselors which remain with the group
                            for the week. For camp in 2021, all sibling groups and carpools will be in the same group to aid in our effort
                            to cohort campers and limit exposure between groups. There is a question during registration asking about friends 
                            that may be attending the same week whom your camper wishes to be grouped with, if this changes feel free to email
                            <a href="mailto:info@wildwoodranch.co">us</a> with additional requests or concerns.
                    div.question
                        h3 Does my child have to pack a lunch<span class="punctuation">?</span>
                        p.
                            Monday - Thursday children must bring sack lunches. Friday we have a cook-out,
                            so no sack lunch is needed. Snacks will be provided daily.
                    div.question
                        h3 Does my child have to eat breakfast before coming to camp<span class="punctuation">?</span>
                        p.
                            Tuesday and Wednesday children have the opportunity to make breakfast sandwiches with egg, cinnamon-sugar,
                            or fruit filling. Monday, Thursday, and Friday children must eat before camp. Snacks will be provided.
                    div.question
                        h3 What happens if it is raining<span class="punctuation">?</span>
                        p.
                            Camp still runs in the rain. We have several buildings that are under cover including the barn,
                            potting shed, and several spaces covered by awnings. We revise some activities to bring them under cover.
                            Bring some rain boots and a rain jacket, and possibly an extra change of clothes!
                    div.question
                        h3 How often will my child ride a horse and what if they do not want to<span class="punctuation">?</span>
                        p.
                            Children have the opportunity to ride each day of camp. We have experience with reluctant
                            riders and will do our best to encourage them. We will not force any child to ride.
                    div.question
                        h3 My child knows how to ride a horse. Can they do something more advanced<span class="punctuation">?</span>
                        p.
                            We have a wide variety of horses to accommodate a wide variety of skill levels. While we are able to
                            make allowances for more advanced riders, this is a children's camp and there are elevated safety
                            concerns. To ensure safety for all riders, there are some things that we cannot allow our riders to do.
                            Despite this, we will do our best to make the experience fun and challenging for experienced horseback-riders.
                     div.question
                        h3 Are there discounts available<span class="punctuation">?</span>
                        p.
                            Yes<span class="punctuation">!</span> We have a sibling discount as well as a multiple week discount that apply
                            automatically in your cart at checkout. If you experience any difficulites please email <a href="mailto:info@wildwoodranch.co">us</a>.
                    div.question
                        h3 How do I get ahold of someone while my child is at camp<span class="punctuation">?</span>
                        p.
                            Please call MacKenzie on her cell (<a href="tel:4252605024">(425)260-5024</a>) during camp hours. Please leave a message if necessary.
                            The phone is nearby but our hands may be busy!
        include includes/footer
            //bump
