footer.row.justify-content-center
    section#footerLeft.col-12.col-md-3
        h3 Upcoming
        ul
            li
                a.registerLinkFooter(href="register.html") June 22-26, 2020 - Summer Camp
            li
                a.registerLinkFooter(href="register.html") June 29-July 3, 2020 - Summer Camp
    section#footerMid.col-12.col-md-3
    section#footerRight.col-12.col-md-3
        h3 Contact
        address
            p 34920 SE Fall City Snoqualmie Rd <br/> Fall City, WA 98024
            a#emailLinkFooter(href="mailto:info@wildwoodranch.co") info@wildwoodranch.co
        section.social
            a#instaLinkFooter(href="https://www.instagram.com/wildwoodranch.co/")
                i.fab.fa-2x.fa-instagram
            a#fbLinkFooter(href="https://www.facebook.com/wildwoodranch.co")
                i.fab.fa-2x.fa-facebook-square
            a#emailLinkFooter2(href="mailto:info@wildwoodranch.co/")
                i.fas.fa-2x.fa-envelope-square
            a#phoneLinkFooter(href="tel:4258026705")
                i.fas.fa-2x.fa-phone-square