meta(charset="UTF-8")
meta(name="author" content="Kate Kinsman")
meta(name="designer" content="Kate Kinsman")
meta(name="publisher" content="Kate Kinsman")
<!--Search Engine Optimization Meta Tags-->
meta(name="description" content="Farm-based youth camps.")
meta(name="keywords" content="Summer Camp,Camp,Kids Camp,Youth Camp,Kids,Youth,Farm,Farm Camp,Horses,Horse Camp")
meta(name="robots" content="index,follow")
meta(name="revisit-after" content="7 days")
meta(name="distribution" content="web")
//meta(http-equiv="refresh" content="30")
meta(name="robots" content="noodp")
<!--Optional Meta Tags-->
meta(name="distribution" content="web")
meta(name="rating" content="general")
meta(name="rating" content="safe for kids")
meta(name="subject" content="Business")
meta(name="title" content="Wildwood Ranch")
meta(name="copyright" content="Copyright 2019")
meta(name="reply-to" content="info@wildwoodranch.co")
meta(name="abstract" content="Farm-based youth camps.")
meta(name="city" content="Fall City")
meta(name="state" content="Washington")
meta(name="country" content="USA")
meta(name="classification" content="Farm-based youth camps.")
<!--Meta Tags for HTML pages on Mobile-->
meta(name="format-detection" content="telephone=yes")
meta(name="HandheldFriendly" content="true")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-47480557-2")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-47480557-2');