doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch: Horse Wrangler

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: Horse Wrangler")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include includes/navBar
        main#jobdescription.container
            section
                div.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h1 Horse Wrangler
                        p Classification: Nonexempt (Seasonal)
                        p Reports To: Lead Horse Wrangler and Director
                        p Pay Range: $15.74 - $20.00/hour
                        h2 Position Purpose
                        p.
                            To further the mission of the camp through assisting in the development and delivery of a horseback riding program that is safe, fun, and appropriate to the campers’ ages and abilities.  Assist in the care and maintenance of the horses and related equipment.
                        h2 Essential Job Functions
                        ol
                            li With the Lead Horse Wrangler, develop and deliver a horse program that is appropriate for the ages and abilities of the campers.
                                ul
                                    li Write lesson plans that meet camp outcomes and the abilities of the campers. 
                                    li Evaluate abilities of campers.
                                    li Deliver progressive horseback riding activities.
                                    li Teach and monitor proper use of equipment.
                                    li Assist in the evaluation of the success of the horseback riding program.
                            li Ensure that camp staff and campers know and follow safety and educational procedures.
                                ul
                                    li Assist in the implementation of staff training for horseback riding including rules of the barn, arena and safety equipment.
                                    li Train other staff in their responsibilities when horseback riding. 
                                    li Ensure campers and staff follow safety procedures. 
                                    li Be knowledgeable about the horse ring and arena available for horseback riding.
                            li Assist in the care and maintenance of the horses and related equipment. 
                                ul
                                    li Maintain the horse equipment including all tack, dry lots, etc.
                                    li Conduct daily check of area and equipment for safety, cleanliness, and good repair.
                                    li Assist in packing all materials and supplies at the end of the season.
                        h2 Other Job Duties
                        ul
                            li Participate enthusiastically in all camp activities, planning and leading those as assigned.
                            li Participate as a member of the camp staff team to deliver and supervise cookouts, special events, and other all-camp activities and camp functions.
                            li Assist in the planning of any special events. 
                            li Contribute to verbal and written evaluations and communication as requested.
                            li Contribute to the cleanliness and maintenance of camp by assisting in daily cleaning and routine chores, always assessing needs and fulfilling them when possible or filing for repairs when necessary.
                            li Follow protocols to ensure the safety of all campers, families, and staff.
                        h2 Relationships
                        p.
                            Reports to the Lead Horse Wrangler and Camp Director. Works collaboratively with activity leaders and counselors. Some staff may work as counselors one week and as wranglers or activity leaders other weeks. We endeavor to have a friendly workplace where all staff members take pride and responsibility in their work and strive to keep open lines of communication and respect between all. 
                        h2 Equipment Used
                        p.
                            Currently two quarter horses with Western saddles. Sonny and Minnie came from a trail riding business and have been with Wildwood Ranch since June 2019.
                        h2 Qualifications
                        ul
                            li Must be at least 16 years of age.
                            li Current certification in horseback riding or equivalent preferred
                            li Current or willing to become certified in first aid and CPR. 
                            li Documented training and experience in horseback riding.
                            li Fully vaccinated against COVID-19, including boosters.
                        h2 Knowledge, Skills, and Abilities
                        ul
                            li Training and experience in teaching children horseback riding.
                            li Desire and ability to work with children outdoors in varied conditions.
                            li Ability to see needs and a willingness to step up and get the job done.
                        h2 Physical Aspects of the Position
                        ul
                            li Ability to communicate and work with groups participating (ages 4-15 and all skill levels) and provide necessary instruction to campers and staff.
                            li Ability to observe camper behavior, assess its appropriateness, enforce appropriate safety regulations and emergency procedures, and apply appropriate behavior-management techniques.
                            li Ability to observe staff behavior, assess its appropriateness, enforce appropriate safety regulations and emergency procedures, and apply appropriate management techniques.
                            li Visual and auditory ability to identify and respond to environmental and other hazards related to the activity.
                            li Physical ability to respond appropriately to situations requiring first aid. Must be able to assist campers in an emergency (fire, evacuation, illness, or injury) and possess strength and endurance required to maintain constant supervision of horses and campers.
                            li Ability to lift up to 50 lbs (bags of feed, saddles and other equipment).
                            li Operate with daily exposure to the sun and heat.
                            li Endurance in activities such as standing and leading horses for extended periods of time, some bending, stooping, and stretching. 
        include includes/footer
