doctype html
html(lang="en")
    head
        include genericMeta
        title Wildwood Ranch

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include navBar
        main#home.container
            section#intro.row
                div.col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
                    h1 Oh hey there
                    p We are excited to announce the opening of Wildwood Ranch!
                    p.
                        Wildwood Ranch is located on 20 acres in Fall City, WA and offers camps where kids ages 5 to 13 can
                        run wild and enjoy all that nature has to offer. Kids will learn how to ride horses, cook on a
                        campfire, make crafts, and have the freedom to just plain be themselves.
                    p.
                        We (MacKenzie and Kate Kinsman) cultivated our passion for children and summer camp for the past
                        decade at Shoofly Farm, at times serving as interim-directors. Kate also spent two summers as a
                        mountaineering guide for teens and adults in British Columbia.
                    p.
                        We've been working hard all winter to create a magical space for your children to explore the
                        outdoors, interact with animals, and have fun in nature. This Spring we had the pleasure of welcoming
                        our first group of kiddos for Spring Break Camp and had such a blast. Join us at Wildwood Ranch
                        this summer for even more fun!
                    button#registerNowBtn(type="button" onclick="window.location.href='/register.html'") Register!
        include footer