doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include includes/navBar
        main#home.container
            section#intro.row
                div.col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
                    h1 Oh hey there
                    p.
                        Wildwood Ranch is located on 20 acres in Fall City, WA and offers camps where kids ages 5 to 13 can
                        run wild and enjoy all that nature has to offer. Kids will learn how to ride horses, cook on a
                        campfire, tend our garden, make crafts, and have the freedom to just plain be themselves. We believe 
                        in the power of disconnecting from technology and spending time outdoors to re-engage an individual's 
                        creative self. It is our goal to provide a grounding place in this fast world where campers and their 
                        families can slow down, take a breath, and be their true self while engaging in a community that is 
                        thoughtful and helps to grow connections.
                    p.
                        MacKenzie Kinsman is the owner and director of Wildwood Ranch and cultivated her passion for children 
                        and summer camp for the past decade at Shoofly Farm, at times serving as interim-director. She attended
                        many camps throughout her childhood and strives to bring the best aspects of each to Wildwood Ranch.
                    p &nbsp; 
                    button#registerNowBtn(type="button" onclick="window.open('http://www.ultracamp.com/info/upcomingsessions.aspx?idCamp=1075&campCode=WWR', '_blank')") Upcoming Sessions
                    p Registration for 2025 spring and summer sessions opens January 15th at 10am. 
                 
                    p &nbsp;
                   
                    // h3 Fall Single Day Programs
                    // p October 7, 11, 18, November 11th
                    // p Single days, 9am-3pm
                    // p Ages 5-12
                    // p $140/day
                    // p Ages 12-15
                    // p $70/day
                    h3 Summer Camp 2025 Schedule
                    h3 Classic Ranch Day Camp Program
                    p Weeklong sessions June 19 - August 29th
                    p Monday - Friday, 9am-3pm
                    p Ages 5-12
                    p $630/week
                    p No camp on 7/4/25
                    h3 Specialty Day Camp Programs
                    p Wilderness Adventure 6/23-6/27, 7/14-7/18, 7/28-8/1, 8/18-8/22, 
                    p All About Wool 7/7-7/11, 8/4-8/8
                    p Primitive Clay 8/11-8/15
                    p Monday - Friday, 9am-3pm
                    p Ages 11-15 
                    p *we raised the minimum age this year, please contact us if your camper is heartbroken
                    p $660/week
                    h3 Summit Adventures
                    p Hiking in the Cascades
                    p Join us for a fantastic hiking adventure exploring wonderful trails in the Snoqualmie Valley. Campers will spend the night camping on Thursday at a location TBD but within 30 minutes of Fall City. There will be both male and female counselors in attendance with a widlerness first aid certification.
                    p July 21 - 25
                    p Monday - Friday, 9am-3pm
                    p Thursday Overnight Trip!
                    p Ages 12-15
                    p $699/week
                    h3 Summer CIT Program
                    p Up to 5 experienced campers come together to learn about their leadership potential and take on responsibilities at camp. Both returning and new campers alike are welcome to attend. 
                    p Each week during the summer
                    p Monday - Friday, 9am-3pm
                    p Ages 12-15
                    p $315/week
        include includes/footer
