doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch: Jobs

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: Jobs")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")


        <!-- Create a button that your customers click to complete their purchase. -->
        script.
          document.addEventListener("DOMContentLoaded", function () {
            var newEmployeeApplyBtn = document.getElementById('newEmployeeApplyBtn');
            newEmployeeApplyBtn.addEventListener('click', function (event) {
              ga('send', 'event', 'btnClick', 'click', 'newApply', 1,{});
              window.open('https://forms.gle/VawYBffd4xAx1E1t8');
            });

            var oldEmployeeApplyBtn = document.getElementById('oldEmployeeApplyBtn');
            oldEmployeeApplyBtn.addEventListener('click', function (event) {
              ga('send', 'event', 'btnClick', 'click', 'oldApply', 1, {});
              window.open('https://forms.gle/1HwmdpMyH8fJ9eVb7');
            });


          })



    body
        include includes/navBar
        main#jobs.container
            section
                div.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h1 Apply
                        p.
                            We need a great team to pull off the magic of camp!
                        p.
                            We run day camps 9am-3pm, Monday - Friday, for ages 5-13. Campers are rotated through
                            activities such as crafts, snack, horses and games in groups with a counselor lead.
                            The minimum age for employment is 16 years.
                        p The 2024 camp season will run April 8-12, and June 17 - August 30th. Mandatory paid training is a hybrid of online and in-person, occuring in June prior to the start of camp.
                        p Staff work hours are typically 8:30am - 3:30pm, Monday - Friday. We hire by the week, asking that staff commit to a minimum of three weeks per summer.
                        p Our positions include:
                        ul
                            li 
                              a(href='campcounselor.html') Camp Counselor
                            li 
                              a(href='horsewrangler.html') Horse Wrangler
                            li 
                              a(href='leadhorsewrangler.html') Lead Horse Wrangler
                            li 
                              a(href='activityleader.html') Activity Leader
                        p If you think you'd be a good fit for any of our positions, apply for the 2024 season! 
                        p Thank you for your interest, our positions are filled for the summer. Please reach out via email to info@wildwoodranch.co with any questions.
                        //- p The application is open now. It is a very short application to collect basic information. The hiring process will consist of multiple interviews and references to gain a sense of each applicant's overall strengths in relation to camp rather than points on a resume.
                        //-    li
                        //-      button(type="button", onclick="window.open('https://forms.gle/bPwjaj2rR8L4RR9Y7', '_blank')") Apply Now
                        //-  p Returning staff member? Apply for the 2024 season!
                        //- li
                        //-    button(type="button", onclick="window.open('https://forms.gle/4NJakdDJyZhcroiu6', '_blank')") Returning Staff
        include includes/footer
