header
    section.subheader.row.justify-content-end.no-gutters
        a#instaLinkNav.social.col-1(href="https://www.instagram.com/wildwoodranch.co/")
            i.fab.fa-instagram
        a#fbLinkNav.social.col-1(href="https://www.facebook.com/wildwoodranch.co")
            i.fab.fa-facebook-square
        a#emailLinkNav.social.col-1(href="mailto:info@wildwoodranch.co/")
            i.fas.fa-envelope-square
        a#phoneLinkNav.social.col-1(href="tel:4258026705")
            i.fas.fa-phone-square
    nav.row.align-items-center
        //a#aboutLink.order-2.col-12.col-sm-2.order-sm-1.col-md-2.order-md-1.offset-md-1.col-lg-2.order-lg-1.offset-lg-1(href="about.html")
        //    h2 About
        //a#regsiterLink.order-3.col-12.col-sm-2.order-sm-2.col-md-2.order-md-2.col-lg-2.order-lg-2(href="register.html")
        //    h2 Register
        //a#title.order-1.col-4.offset-4.col-sm-4.order-sm-3.offset-sm-0.col-md-2.order-md-3.col-lg-2.order-lg-3(href="index.html")
        //    img(src="assets/logo_small_minimal.png" alt="Wildwood Ranch")
        //a#faqLink.order-4.col-12.col-sm-1.order-sm-4.col-md-1.order-md-4.col-lg-1.order-lg-4(href="faq.html")
        //    h2 FAQ
        //a#jobsLink.order-5.col-12.col-sm-1.order-sm-5.col-md-1.order-md-5.col-lg-1.order-lg-5(href="jobs.html")
        //    h2 Jobs
        //a#contactLink.order-6.col-12.col-sm-2.order-sm-6.col-md-2.order-md-5.col-lg-2.order-lg-6(href="contact.html")
        //    h2 Contact
        a#title.order-1.col-4.offset-4.col-md-2.offset-md-5(href="index.html")
            img(src="assets/logo_small_minimal.png" alt="Wildwood Ranch")
        div.order-2.w-100
        a#aboutLink.order-3.col-12.col-sm-2(href="about.html")
            h2 About
        a#covidLink.order-4.col-12.col-sm-2(href="covid.html")
            h2 COVID<span class="punctuation">-19</span>
        a#regsiterLink.order-5.col-12.col-sm-2(href="register.html")
            h2 Register
        a#faqLink.order-6.col-12.col-sm-2(href="faq.html")
            h2 FAQ
        a#jobsLink.order-7.col-12.col-sm-2(href="jobs.html")
            h2 Jobs
        a#contactLink.order-8.col-12.col-sm-2(href="contact.html")
            h2 Contact


