section.photos
    div.paragraph
        <!-- LightWidget WIDGET -->
        script(src="https://cdn.lightwidget.com/widgets/lightwidget.js")
        iframe(src="//lightwidget.com/widgets/9dd5c42be18958fbb961fb95b0ddf7b7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;")
