doctype html
html(lang="en")
    head
        include includes/genericMeta
        title Wildwood Ranch: COVID-19

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: COVID-19")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")

    body
        include includes/navBar
        main#covid.container
            section
                div.row
                    h1.col-12 POLICIES
                    div.col-10.offset-1.col-md-8.offset-md-2
                        
                        h2  VACCINATION POLICY
                        p.
                            It is not required for campers to be vaccinated against FLU, COVID-19, or major childhood illnesses, but it is highly recommended.
                            Vaccination against COVID-19 is required as a condition for employment at Wildwood Ranch.
                     
                            
                        h2  ILLNESSES POLICY
                        p.
                            Do not send campers to Wildwood Ranch who have symptoms of FLU, COVID-19, or other communicable diseases.
                            If campers develop symptoms while at camp they will be isolated and provided a mask to wear until their adult comes to pick them up.
                            These symptoms include new-onset of a cough, sore throat, diarrhea, fever, vomitting, loss of taste, and all 
                            others listed <a href="https://doh.wa.gov/sites/default/files/2022-03/820-229-SymptomExposureFlowchartK12SchoolsChildCare.pdf">here</a> 
                            You will be notifed if a camper or staff in close contact to your camper (in your camper's group) tests positive for COVID-19.
                            When a camper/staff has syptoms of or tests positive for COVID-19, they must isolate and not attend camp for at least 5 days.
                            Campers/staff may return to Wildwood Ranch in days 6-10 if their sypmtoms have resolved, there has been no fever for at least 24hrs
                            with no fever-reducing medicines, and they wear a tight-fitting mask (kn-95 or better) at all times until they test negative.
                            After day 10 they do not need to wear a mask unless they want to. 
                        p
                            button#kcCampGuide(type="button", onclick="window.open('https://kingcounty.gov/depts/health/covid-19/schools-childcare.aspx', '_blank')") King County Camp Guidelines
                        
                        
                        h2 MASK POLICY
                        p.
                            Masks are optional in all areas at Wildwood Ranch. Campers and staff are welcome to wear masks if they prefer and will not be discriminated against.
                            The exception is that a well-fitted, kn95 or better, mask must be worn in days 5-10 post COVID infection if campers or staff are returning to Wildwood Ranch. 
                        p    
                            button#maskGuide(type="button", onclick="window.open('https://www.kingcounty.gov/depts/health/covid-19/care/masks.aspx', '_blank')") King County Mask Info
                        
                        h2 REFUND POLICY
                        p.
                            If sessions are cancelled at least two (2) weeks in advance of the starting date of the session, tuition will be refunded less 10%.
                            If sessions are cancelled within two (2) weeks of the starting date of the session, there is no refund.
                            Should your camper not be able to attend due to personal or family illness, we will do our best to accommodate them in another session. 
                            Cancellations can be arranged by email or phone call to Wildwood Ranch.

                        h2 BEHAVIOR POLICY 
                        p.
                            Campers are expected to follow basic safety rules while at Wildwood Ranch. This includes treating all animals and 
                            other campers, CITs, staff, and volunteers with dignity and respect. Bullying and violence will not be tolerated. We will do 
                            our best to help campers adjust their behaviors and have a great week at camp, often with the help of caregivers, but we 
                            reserve the right to send campers home for the day or duration of the week if repeated incidents occur that endanger themselves,
                            others, animals, or camp propety. We welcome campers to join us in the following summer after being sent home from camp since 
                            a tremendous amount of personal growth occurs in a year for young kids!

                        p.
                            Our rules include entering the horse paddocks only while accompanied by a staff member. Wearing closed-toe shoes, comfortable clothes 
                            to protect against chaffing (no swimsuits without coverups) and a helmet while riding horses. Dressing appropiately for farm
                            and outdoor activites so that campers stay comfortable and are okay to get dirty. Following instructions for all activites so 
                            that we stay safe at all times. Staying with your group and notifying the counselor before heading to the restroom or 
                            other location so that all campers remain accounted for. 

                        p Updated 1/19/23
                        

    include includes/footer
            //bump
