doctype html
html(lang="en")
    head
        include genericMeta
        title Wildwood Ranch: Register

        <!--iOS Rich Preview Meta Tags-->
        meta(property="og:title" content="Wildwood Ranch: Register")
        meta(property="og:image" content="assets/wildflower-field-min.jpg")

        <!--scripts and stylesheets-->
        link(href="https://fonts.googleapis.com/css?family=Gaegu|Meddon|Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css" type="text/css")
        script(src="https://js.stripe.com/v3")


        <!-- Create a button that your customers click to complete their purchase. -->
        script.
            var stripe = Stripe('pk_live_0EsoHJLVA2b3hIwKiCQ1zVjU');

            var checkoutObj = {
                items: [{sku: 'sku_GNZWJpP1UdOyrc', quantity: 1}],

                // Note that it is not guaranteed your customers will be redirected to this
                // URL *100%* of the time, it's possible that they could e.g. close the
                // tab between form submission and the redirect.
                successUrl: window.location.protocol + '//wildwoodranch.co/success',
                cancelUrl: window.location.protocol + '//wildwoodranch.co/error'
            }

            var errorFn = function (result) {
                if (result.error) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer.
                    var displayError = document.getElementById('error-message');
                    displayError.textContent = result.error.message;
                }
            };

            document.addEventListener("DOMContentLoaded", function () {
                var checkoutBtn = document.getElementById('checkout');

                checkoutBtn.addEventListener('click', function (event) {
                    // Change quantity
                    var numParticipants = document.getElementById('numParticipants');
                    ga('send', 'event', 'btnClick', 'click', 'payOnline', numParticipants, {});
                    checkoutObj.items[0].quantity = parseInt(numParticipants.options[numParticipants.selectedIndex].value);
                    // When the customer clicks on the button, redirect them to Checkout.
                    stripe.redirectToCheckout(checkoutObj)
                        .then(errorFn);
                });

                var registerBtn = document.getElementById('registerBtn');
                registerBtn.addEventListener('click', function (event) {
                    ga('send', 'event', 'btnClick', 'click', 'register', 1,{});
                    window.open('https://forms.gle/uCVV5cdvQhDGwXFH8');
                });

                var downloadBtn = document.getElementById('downloadRelease');
                downloadBtn.addEventListener('click', function (event) {
                    ga('send', 'event', 'btnClick', 'click', 'downloadRelease', 1, {});
                    window.open('https://wildwoodranch.co/assets/EditableLiabilityReleaseForm.pdf');
                });

            })



    body
        include navBar
        main#register.container
            section#steps
                div.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h1 Register
                        p We'd love to have you out to the Ranch!
                        p Registration for 2020 camps is currently open.
                        div#campInfo.row.justify-content-center
                            p.col-12.col-sm-10.col-md-3 M-F 9am - 3pm
                            p.col-12.col-sm-10.col-md-3 Ages 5-13
                            p.col-12.col-sm-10.col-md-3 $495 per participant
                    div.col-12.col-md-10.offset-md-1
                        h3 COVID<span class="punctuation">-19</span> Update
                        p At this time, we plan to run our 2020 summer camps. Please see our <a href="covid.html">COVID<span class="punctuation">-19</span></a> page for further details.
                        p We understand that finances at this time can be uncertain or strained. If your family has been financially affected by COVID<span class="punctuation">-19</span>, please let us know and we can work out a plan for payment together.
                    // SINGLE COL
                    //div.col-12.col-md-4.offset-md-4.col-lg-4.offset-lg-4
                    //    h3 <span class="punctuation">2020</span> Spring Break Camp
                    //    ul
                    //        li April 6 - 10
                    //        li April 13 - 17
                    // DOUBLE COL SPRING/SUMMER
                    //div.col-12.col-md-4.offset-md-2.col-lg-4.offset-lg-2
                    //    h3 <span class="punctuation">2020</span> Spring Break Camp
                    //    ul
                    //        li April 6 - 10
                    //        li April 13 - 17
                    // DOUBLE COL SPRING/SUMMER
                    //div.col-12.col-md-4.col-lg-4
                    //    h3 <span class="punctuation">2020</span> Summer Camp
                    //    ul
                    //        li June 22 - 26
                    //        li June 29 - July 3
                    //        li July 6 - 10
                    //        li July 13 - 17
                    //        li July 20 - 24
                    //        li July 27 - 31
                    //        li August 3 - 7
                    //        li August 10 - 14
                    //        li August 17 - 21
                    //        li August 24 - 28
                    // DOUBLE COL SPRING/SUMMER
                    div.col-12.col-md-10.offset-md-1
                        h3 <span class="punctuation">2020</span> Summer Camp
                        ul.row
                            li.col-4 June 22 - 26
                            li.col-4 June 29 - July 3
                            li.col-4 July 6 - 10
                            li.col-4 July 13 - 17
                            li.col-4 July 20 - 24
                            li.col-4 July 27 - 31
                            li.col-4 August 3 - 7
                            li.col-4 August 10 - 14
                            li.col-4 August 17 - 21
                            li.col-4 August 24 - 28
                    // SINGLE COL
                    //div.col-12.col-md-4.offset-md-4.col-lg-4.offset-lg-4
                    //    h3 <span class="punctuation">2020</span> Summer Camp
                    //    ul
                    //        li June 22 - 26
                    //        li June 29 - July 3
                    //        li July 6 - 10
                    //        li July 13 - 17
                    //        li July 20 - 24
                    //        li July 27 - 31
                    //        li August 3 - 7
                    //        li August 10 - 14
                    //        li August 17 - 21
                    //        li August 24 - 28
                article.registerStep.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h2 <span class="punctuation">1.</span> Register
                        p Submit your registration information via the form linked below. You may select multiple sessions via this form. If you have already registered for one of our sessions, feel free to email us to add another session rather than filling out the form a second time.
                        button#registerBtn(type="button") Register
                article.registerStep.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h2 <span class="punctuation">2.</span> Submit Liability Release Form
                        p Please download and email a liability release for each participant you registered to <a href="mailto:info@wildwoodranch.co">info@wildwoodranch.co</a> at your earliest convenience.
                        button#downloadRelease(type="button") Download
                article.registerStep.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h2 <span class="punctuation">3.</span> Pay
                        p Please select the payment option for the number of participants you registered. Each session is $495 per participant. If you registered participants for multiple sessions, please multiply the number of sessions by the number of participants. For instance, select 4 if you registered 2 participants for 2 sessions each.
                        p
                            select#numParticipants
                                option(value=1 name="1") 1
                                option(value=2 name="2") 2
                                option(value=3 name="3") 3
                                option(value=4 name="4") 4
                                option(value=5 name="5") 5
                                option(value=6 name="6") 6
                                option(value=7 name="7") 7
                                option(value=8 name="8") 8
                                option(value=9 name="9") 9
                                option(value=10 name="10") 10
                            span#participantLabel Participant
                            button#checkout.checkout Pay
                        p If we do not receive payment in full within 3 days of your registration submittal, you will be notified of your registration cancellation.
                        p#error-message
                div.row
                    div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
                        h1 Cancellation Policy
                        p.
                            Our standard cancellation policy offers a full refund for any reason for up to a week before your registered session. After that date, we offer credit toward a future week of camp.
                            Please see our <a href="covid.html">COVID<span class="punctuation">-19</span></a> page for our revised policy during the COVID<span class="punctuation">-19</span> pandemic.

        include footer
            //bump